page-comment {
    
        top: 20px !important;

        .ion-error{
                margin-left: 20px;
                color: red;
        }
        .left-margin{
                margin-left: 20px;
        }
    
    
}
